/*

*/

.version.add_banquet /* version checker */
{
	color: #00000B;
	background-color: #634507;
}

.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 861.5000000000008px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -36px;
	width: 0.01px;
}

#pu3318
{
	width: 0.01px;
	padding-bottom: 551px;
	margin-left: -100px;
}

#u3318
{
	z-index: 11;
	height: 551px;
	position: fixed;
	top: 0px;
	background: transparent url("../images/thepighighres-16.jpg") no-repeat center top;
	background-size: cover;
}

#u3318-bw
{
	z-index: 11;
}

#u3319
{
	z-index: 12;
	height: 551px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(0,0,0,0)),color-stop(100%, #000000));
	background: -webkit-linear-gradient(top,rgba(0,0,0,0) ,#000000 100%);
	background: linear-gradient(to bottom,rgba(0,0,0,0) ,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000, endColorstr=#FF000000, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#FF000000', GradientType=0)";
	position: fixed;
	top: 0px;
}

#u3319-bw
{
	z-index: 12;
}

#pu1613
{
	width: 0.01px;
	margin-left: -50px;
	margin-top: -523px;
}

#u1613
{
	z-index: 79;
	width: 1060px;
	margin-right: -10000px;
	margin-top: 1px;
}

#u1616
{
	z-index: 88;
	width: 179px;
	padding-bottom: 29px;
	margin-bottom: -19px;
	margin-right: -10000px;
	margin-top: -28px;
	left: 38px;
}

#u1617-4
{
	z-index: 89;
	width: 178px;
	margin-right: -10000px;
	margin-top: 40px;
	left: -1px;
}

#u1615-4
{
	z-index: 84;
	width: 82px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 881px;
}

#u1614-4
{
	z-index: 80;
	width: 78px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 963px;
}

#u3331
{
	z-index: 93;
	width: 1060px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u3333
{
	z-index: 98;
	width: 179px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	padding-bottom: 29px;
	margin-bottom: -19px;
	position: relative;
	margin-right: -10000px;
	margin-top: -28px;
	left: 38px;
	background: #000000 url("../images/8797180000761.jpg") no-repeat center center;
}

#u3334-4
{
	z-index: 99;
	position: relative;
	width: 178px;
	margin-right: -10000px;
	margin-top: 40px;
	left: -1px;
}

#u3335-6
{
	z-index: 103;
	width: 480px;
	min-height: 29px;
	background-color: transparent;
	color: #000000;
	text-align: right;
	font-size: 12px;
	line-height: 14px;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 470px;
}

#u3335-6:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 480px;
	margin: 14px -10000px 0px 0px;
}

#u3335-6:hover p
{
	color: #F7931E;
	visibility: inherit;
}

#u3332-4
{
	z-index: 94;
	position: relative;
	width: 84px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 957px;
}

#u3334-4_img,#u3332-4_img
{
	display: block;
	vertical-align: top;
}

#pu3365
{
	width: 0.01px;
	margin-top: -415px;
}

#u3365
{
	z-index: 13;
	width: 624px;
	background-color: #3F3F3F;
	background-color: rgba(0,0,0,0.75);
	position: relative;
	margin-right: -10000px;
	padding: 21px 16px 23px 20px;
	-pie-background: rgba(0,0,0,0.75);
}

#u3375-4
{
	z-index: 59;
	width: 580px;
	min-height: 50px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: left;
	font-size: 36px;
	line-height: 43px;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	position: relative;
}

#u3367-4
{
	z-index: 15;
	width: 340px;
	min-height: 40px;
	background-color: transparent;
	color: #F7931E;
	text-align: left;
	font-size: 30px;
	line-height: 36px;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	margin-top: 14px;
	position: relative;
}

#pu3390-4
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 24px;
}

#u3390-4
{
	z-index: 19;
	width: 226px;
	min-height: 32px;
	background-color: transparent;
	color: #6FB6D7;
	text-align: left;
	font-size: 18px;
	line-height: 24px;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u3404-4
{
	z-index: 39;
	width: 226px;
	min-height: 32px;
	background-color: transparent;
	color: #6FB6D7;
	text-align: left;
	font-size: 18px;
	line-height: 24px;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 397px;
}

#u3398-4
{
	z-index: 47;
	width: 226px;
	min-height: 32px;
	background-color: transparent;
	color: #6FB6D7;
	text-align: left;
	font-size: 18px;
	line-height: 24px;
	font-family: muli, sans-serif;
	font-weight: 300;
	margin-top: 56px;
	position: relative;
}

#u3396
{
	z-index: 76;
	width: 616px;
	min-height: 89px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 1px;
	position: relative;
}

#pu3393-4
{
	width: 0.01px;
	margin-top: 49px;
}

#u3393-4
{
	z-index: 31;
	width: 226px;
	min-height: 32px;
	background-color: transparent;
	color: #6FB6D7;
	text-align: left;
	font-size: 18px;
	line-height: 24px;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u3401-4
{
	z-index: 35;
	width: 226px;
	min-height: 32px;
	background-color: transparent;
	color: #6FB6D7;
	text-align: left;
	font-size: 18px;
	line-height: 24px;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 390px;
}

#pu3370-4
{
	width: 0.01px;
	margin-top: 64px;
}

#u3370-4
{
	z-index: 51;
	width: 226px;
	min-height: 32px;
	background-color: transparent;
	color: #6FB6D7;
	text-align: left;
	font-size: 18px;
	line-height: 24px;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u3407-4
{
	z-index: 43;
	width: 226px;
	min-height: 32px;
	background-color: transparent;
	color: #6FB6D7;
	text-align: left;
	font-size: 18px;
	line-height: 24px;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 390px;
}

#u3386
{
	z-index: 71;
	width: 176px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 3px;
	position: relative;
}

#u3366
{
	z-index: 14;
	width: 226px;
	background-color: #0F0F0F;
	position: relative;
	margin-right: -10000px;
	left: 676px;
	padding: 97px 29px 59.29999999999902px;
}

#pu3420
{
	width: 0.01px;
	margin-left: 1px;
}

#u3420
{
	z-index: 77;
	width: 87px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3408-4
{
	z-index: 23;
	width: 132px;
	min-height: 32px;
	background-color: transparent;
	color: #F7931E;
	text-align: left;
	font-size: 18px;
	line-height: 24px;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 93px;
}

#u3413-4
{
	z-index: 27;
	width: 226px;
	min-height: 32px;
	background-color: transparent;
	color: #F7931E;
	text-align: left;
	font-size: 18px;
	line-height: 24px;
	font-family: muli, sans-serif;
	font-weight: 300;
	margin-top: 49px;
	position: relative;
}

#u3372
{
	z-index: 55;
	width: 960px;
	height: 1px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 70px;
}

#u3374
{
	z-index: 57;
	position: relative;
	width: 183px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 726px;
}

#u3374_states
{
	height: 41px;
	width: 183px;
	vertical-align: top;
	background: url("../images/u3374_states.png") no-repeat 0px 0px;
}

#u3374:hover #u3374_states
{
	background: url("../images/u3374_states-r.png") no-repeat 0px 0px;
}

#u3378
{
	z-index: 63;
	width: 176px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 96px;
	left: 234px;
}

#u3391
{
	z-index: 64;
	width: 176px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 180px;
	left: 21px;
}

#u3409
{
	z-index: 65;
	width: 176px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 129px;
	left: 705px;
}

#u3411
{
	z-index: 66;
	width: 176px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 210px;
	left: 705px;
}

#u3394
{
	z-index: 67;
	width: 176px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 467px;
	left: 20px;
}

#u3399
{
	z-index: 68;
	width: 176px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 467px;
	left: 410px;
}

#u3402
{
	z-index: 69;
	width: 176px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 180px;
	left: 418px;
}

#u3405
{
	z-index: 70;
	width: 176px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 562px;
	left: 410px;
}

#u3388-4
{
	z-index: 72;
	width: 110px;
	min-height: 25px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: left;
	font-size: 18px;
	line-height: 22px;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 559px;
	left: 212px;
}

#u1619
{
	z-index: 2;
	min-height: 59px;
	padding-bottom: 39px;
}

#u1619_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u1620-8
{
	z-index: 3;
	width: 626px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 257px;
}

#u1619-bw
{
	z-index: 2;
	min-height: 59px;
	margin-top: 79px;
}

@font-face
{
	font-family: '__Sukhumvit Set_5';
	src: url('../fonts/sukhumvitset-light.eot');
	src: local('☺'), url('../fonts/sukhumvitset.woff') format('woff'), url('../fonts/sukhumvitset.svg') format('svg');
	font-weight: 200;
	font-style: normal;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

