/*

*/

.version.contact_hotel /* version checker */
{
	color: #0000E4;
	background-color: #762BD4;
}

.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1113.95px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -36px;
	width: 0.01px;
}

#ppu2444
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-left: -100px;
}

#pu2444
{
	width: 0.01px;
	padding-bottom: 236px;
}

#u2444
{
	z-index: 21;
	height: 236px;
	position: fixed;
	top: 0px;
	background: transparent url("../images/screen%20shot%202558-04-23%20at%20112613%20pm.jpg") no-repeat center center;
	background-size: cover;
}

#u2444-bw
{
	z-index: 21;
}

#u2438
{
	z-index: 22;
	height: 236px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(0,0,0,0)),color-stop(100%, #000000));
	background: -webkit-linear-gradient(top,rgba(0,0,0,0) ,#000000 100%);
	background: linear-gradient(to bottom,rgba(0,0,0,0) ,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000, endColorstr=#FF000000, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#FF000000', GradientType=0)";
	position: fixed;
	top: 0px;
}

#u2438-bw
{
	z-index: 22;
}

#u2432
{
	z-index: 92;
	width: 1060px;
	height: 54px;
	background-color: #FFFFFF;
	position: fixed;
	top: 28px;
	left: 50%;
	margin-left: -530px;
}

#u2430
{
	z-index: 97;
	width: 179px;
	height: 99px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -492px;
	background: #000000 url("../images/8797180000761.jpg") no-repeat center center;
}

#u2434-4
{
	z-index: 98;
	position: fixed;
	top: 41px;
	left: 50%;
	margin-left: -492px;
}

#u2434-4_img
{
	display: block;
	vertical-align: top;
}

#u2474-4
{
	z-index: 102;
	width: 195px;
	min-height: 18px;
	background-color: transparent;
	line-height: 24px;
	text-align: right;
	font-size: 20px;
	color: #F7931E;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	position: fixed;
	top: 44px;
	left: 50%;
	margin-left: 225px;
}

#u2431-4
{
	z-index: 93;
	width: 84px;
	min-height: 18px;
	background-color: transparent;
	line-height: 24px;
	text-align: right;
	font-size: 20px;
	color: #F7931E;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	position: fixed;
	top: 44px;
	left: 50%;
	margin-left: 427px;
}

#u1613
{
	z-index: 78;
	width: 1060px;
	left: -50px;
	top: -208px;
	margin-bottom: -54px;
}

#u1616
{
	z-index: 87;
	width: 179px;
	padding-bottom: 29px;
	margin-bottom: -19px;
	margin-right: -10000px;
	margin-top: -28px;
	left: 38px;
}

#u1617-4
{
	z-index: 88;
	width: 178px;
	margin-right: -10000px;
	margin-top: 40px;
	left: -1px;
}

#u1615-4
{
	z-index: 83;
	width: 82px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 881px;
}

#u1614-4
{
	z-index: 79;
	width: 78px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 963px;
}

#u2473
{
	z-index: 77;
	width: 1px;
	height: 107px;
	background-color: #FFFFFF;
	opacity: 0.25;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
	filter: alpha(opacity=25);
	position: fixed;
	top: 109px;
	left: 50%;
	margin-left: 12px;
}

#u2471-4
{
	z-index: 69;
	width: 418px;
	min-height: 44px;
	background-color: transparent;
	line-height: 43px;
	text-align: right;
	font-size: 36px;
	color: #FFFFFF;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	position: fixed;
	top: 118px;
	left: 50%;
	margin-left: -430px;
}

#u2441-4
{
	z-index: 65;
	width: 383px;
	min-height: 32px;
	background-color: transparent;
	line-height: 29px;
	text-align: left;
	font-size: 24px;
	color: #FFFFFF;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	position: fixed;
	top: 118px;
	left: 50%;
	margin-left: 37px;
}

#u2441-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 32px;
	width: 383px;
	margin: 0px 0px 0px 37px;
}

#u2439-7
{
	z-index: 58;
	width: 330px;
	min-height: 48px;
	background-color: transparent;
	text-align: left;
	font-size: 14px;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	position: fixed;
	top: 149px;
	left: 50%;
	margin-left: 37px;
}

#u2439-7:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 48px;
	width: 330px;
	margin: 0px 0px 0px 37px;
}

#u2441-4:hover p,#u2439-7:hover p,#u2439-7:hover span
{
	color: #F7931E;
	visibility: inherit;
}

#u2439-3
{
	color: #FFFFFF;
}

#u2439-2,#u2439-5
{
	color: #F7931E;
}

#u2472-4
{
	z-index: 73;
	width: 418px;
	min-height: 35px;
	background-color: transparent;
	line-height: 29px;
	text-align: right;
	font-size: 24px;
	color: #7F7F7F;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	position: fixed;
	top: 162px;
	left: 50%;
	margin-left: -430px;
}

#u2456
{
	z-index: 12;
	width: 680px;
	background-color: #3F3F3F;
	padding-bottom: 12px;
	margin-top: 32px;
	position: relative;
}

#u2436-6
{
	z-index: 28;
	width: 636px;
	min-height: 62px;
	background-color: transparent;
	line-height: 25px;
	text-align: right;
	font-size: 18px;
	color: #FFFFFF;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 24px;
}

#u2455
{
	z-index: 15;
	width: 691px;
	background-color: #171717;
	margin-left: 270px;
	margin-top: 53px;
	position: relative;
}

#u2442-6
{
	z-index: 46;
	width: 566px;
	min-height: 62px;
	background-color: transparent;
	line-height: 25px;
	text-align: left;
	font-size: 18px;
	color: #F7931E;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 32px;
}

#u2459
{
	z-index: 17;
	width: 106px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-bottom: -7px;
	position: relative;
	margin-right: -10000px;
	margin-top: -7px;
	left: 625px;
}

#u2460
{
	z-index: 18;
	width: 106px;
	height: 106px;
	border-color: #F7931E;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	background: #7F7F7F url("../images/11295728_10204467795762633_3890141743700604656_n-ieu2389-fr.png") no-repeat left bottom;
	background: rgba(0,0,0,0) url("../images/11295728_10204467795762633_3890141743700604656_n.jpg") no-repeat left bottom;
	background-color: #7F7F7F;
	background-size: cover;
}

#u2454
{
	z-index: 13;
	width: 680px;
	background-color: #3F3F3F;
	padding-bottom: 11px;
	margin-top: 45px;
	position: relative;
}

#u2451-6
{
	z-index: 34;
	width: 636px;
	min-height: 62px;
	background-color: transparent;
	line-height: 25px;
	text-align: right;
	font-size: 18px;
	color: #FFFFFF;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 28px;
}

#u2453
{
	z-index: 16;
	width: 691px;
	background-color: #171717;
	margin-left: 270px;
	margin-top: 52px;
	position: relative;
}

#u2445-6
{
	z-index: 52;
	width: 566px;
	min-height: 62px;
	background-color: transparent;
	line-height: 25px;
	text-align: left;
	font-size: 18px;
	color: #F7931E;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 32px;
}

#u2457
{
	z-index: 19;
	width: 106px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-bottom: -7px;
	position: relative;
	margin-right: -10000px;
	margin-top: -7px;
	left: 625px;
}

#u2458
{
	z-index: 20;
	width: 106px;
	height: 106px;
	border-color: #F7931E;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	background: #7F7F7F url("../images/11295728_10204467795762633_3890141743700604656_n-ieu2389-fr.png") no-repeat left bottom;
	background: rgba(0,0,0,0) url("../images/11295728_10204467795762633_3890141743700604656_n.jpg") no-repeat left bottom;
	background-color: #7F7F7F;
	background-size: cover;
}

#u2461
{
	z-index: 14;
	width: 680px;
	background-color: #3F3F3F;
	padding-bottom: 12px;
	margin-top: 52px;
	position: relative;
}

#u2437-6
{
	z-index: 40;
	width: 636px;
	min-height: 62px;
	background-color: transparent;
	line-height: 25px;
	text-align: right;
	font-size: 18px;
	color: #FFFFFF;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 28px;
}

#u2440
{
	z-index: 23;
	height: 199px;
	background-color: #171717;
	position: fixed;
	bottom: 0px;
}

#u2440-bw
{
	z-index: 23;
}

#u2446
{
	z-index: 27;
	width: 616px;
	min-height: 89px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	bottom: 40px;
	left: 50%;
	margin-left: -460px;
}

#u2443
{
	z-index: 25;
	height: 84px;
	width: 213px;
	vertical-align: top;
	position: fixed;
	bottom: 54px;
	left: 50%;
	margin-left: 248px;
	background: url("../images/u2443.png") no-repeat 1px 1px;
}

#u2443:hover
{
	background: url("../images/u2443-r.png") no-repeat 0px 0px;
}

#u1619
{
	z-index: 2;
	min-height: 98px;
}

#u1619_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
	padding-top: 25px;
	padding-bottom: 3px;
}

#u1620-8
{
	z-index: 3;
	width: 626px;
	left: 257px;
}

#last
{
	left: 552px;
	margin-top: 18px;
	position: relative;
}

#u1619-bw
{
	z-index: 2;
	min-height: 98px;
	margin-top: 158px;
}

@font-face
{
	font-family: '__Sukhumvit Set_5';
	src: url('../fonts/sukhumvitset-light.eot');
	src: local('☺'), url('../fonts/sukhumvitset.woff') format('woff'), url('../fonts/sukhumvitset.svg') format('svg');
	font-weight: 200;
	font-style: normal;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

