/*

*/

.version.create_package /* version checker */
{
	color: #000015;
	background-color: #6C2482;
}

.html
{
	background-color: #1B1B1B;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1106px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #0F0F0F;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -36px;
	width: 0.01px;
}

#pu1613
{
	width: 0.01px;
	margin-left: -50px;
}

#u1613
{
	z-index: 108;
	width: 1060px;
	margin-right: -10000px;
	margin-top: 28px;
}

#u1616
{
	z-index: 117;
	width: 179px;
	padding-bottom: 29px;
	margin-bottom: -19px;
	margin-right: -10000px;
	margin-top: -28px;
	left: 38px;
}

#u1617-4
{
	z-index: 118;
	width: 178px;
	margin-right: -10000px;
	margin-top: 40px;
	left: -1px;
}

#u1615-4
{
	z-index: 113;
	width: 82px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 881px;
}

#u1614-4
{
	z-index: 109;
	width: 78px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 963px;
}

#u2976
{
	z-index: 122;
	width: 1060px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
}

#u2979
{
	z-index: 123;
	width: 1060px;
	background-color: #FFFFFF;
	padding-bottom: 14px;
	position: relative;
	margin-right: -10000px;
}

#u2978-4
{
	z-index: 128;
	width: 195px;
	min-height: 18px;
	background-color: transparent;
	color: #F7931E;
	text-align: right;
	font-size: 20px;
	line-height: 24px;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 768px;
}

#u2977-4
{
	z-index: 124;
	width: 78px;
	min-height: 18px;
	background-color: transparent;
	color: #F7931E;
	text-align: right;
	font-size: 20px;
	line-height: 24px;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 963px;
}

#u2981
{
	z-index: 132;
	width: 179px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	padding-bottom: 29px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 38px;
	background: #000000 url("../images/8797180000761.jpg") no-repeat center center;
}

#u2980-4
{
	z-index: 133;
	position: relative;
	width: 178px;
	margin-right: -10000px;
	margin-top: 40px;
	left: -1px;
}

#u2980-4_img
{
	display: block;
	vertical-align: top;
}

#pu3032-4
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 28px;
}

#u3032-4
{
	z-index: 86;
	width: 580px;
	min-height: 50px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: left;
	font-size: 36px;
	line-height: 43px;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#pu3031-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 591px;
}

#u3031-4
{
	z-index: 79;
	width: 329px;
	min-height: 19px;
	background-color: transparent;
	text-align: right;
	color: #7F7F7F;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	position: relative;
}

#u3031-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 329px;
	margin: 0px;
}

#u3031-4:hover p
{
	color: #F7931E;
	visibility: inherit;
}

#u3046
{
	z-index: 90;
	width: 176px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 153px;
	position: relative;
}

#u3018
{
	z-index: 78;
	width: 960px;
	height: 1px;
	background-color: #FFFFFF;
	position: relative;
}

#pu3042-4
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 13px;
}

#u3042-4
{
	z-index: 54;
	width: 340px;
	min-height: 40px;
	background-color: transparent;
	color: #F7931E;
	text-align: left;
	font-size: 30px;
	line-height: 36px;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
}

#u3007
{
	z-index: 84;
	position: relative;
	width: 183px;
	margin-right: -10000px;
	left: 737px;
}

#u3007_states
{
	height: 41px;
	width: 183px;
	vertical-align: top;
	background: url("../images/u3007_states.png") no-repeat 0px 0px;
}

#u3007:hover #u3007_states
{
	background: url("../images/u3007_states-r.png") no-repeat 0px 0px;
}

#u3048
{
	z-index: 91;
	width: 176px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 212px;
}

#u3013-4
{
	z-index: 58;
	width: 226px;
	min-height: 32px;
	background-color: transparent;
	color: #6FB6D7;
	text-align: left;
	font-size: 18px;
	line-height: 24px;
	font-family: muli, sans-serif;
	font-weight: 300;
	margin-left: 20px;
	margin-top: 42px;
	position: relative;
}

#pu3050
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: -4px;
}

#u3050
{
	z-index: 92;
	width: 176px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u3054-4
{
	z-index: 74;
	width: 49px;
	min-height: 32px;
	background-color: transparent;
	color: #6FB6D7;
	text-align: left;
	font-size: 18px;
	line-height: 24px;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 224px;
}

#u3052
{
	z-index: 93;
	width: 176px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 284px;
}

#pu2998-4
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 16px;
}

#u2998-4
{
	z-index: 62;
	width: 226px;
	min-height: 32px;
	background-color: transparent;
	color: #6FB6D7;
	text-align: left;
	font-size: 18px;
	line-height: 24px;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u3304-4
{
	z-index: 66;
	width: 226px;
	min-height: 32px;
	background-color: transparent;
	color: #6FB6D7;
	text-align: left;
	font-size: 18px;
	line-height: 24px;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 376px;
}

#pu3055
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: -8px;
}

#u3055
{
	z-index: 94;
	width: 311px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
}

#u3305
{
	z-index: 99;
	width: 176px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 376px;
}

#u3307-4
{
	z-index: 100;
	width: 110px;
	min-height: 25px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: left;
	font-size: 18px;
	line-height: 22px;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 568px;
}

#u3510
{
	z-index: 106;
	width: 920px;
	height: 1px;
	background-color: #7F7F7F;
	margin-left: 19px;
	margin-top: 20px;
	position: relative;
}

#u3312-4
{
	z-index: 70;
	width: 226px;
	min-height: 32px;
	background-color: transparent;
	color: #6FB6D7;
	text-align: left;
	font-size: 18px;
	line-height: 24px;
	font-family: muli, sans-serif;
	font-weight: 300;
	margin-left: 19px;
	margin-top: 20px;
	position: relative;
}

#pu3308
{
	width: 0.01px;
	margin-left: 19px;
	margin-top: 2px;
}

#u3308
{
	z-index: 104;
	width: 176px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 480px;
}

#u3310
{
	z-index: 105;
	width: 480px;
	min-height: 34px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3511
{
	z-index: 107;
	width: 920px;
	height: 1px;
	background-color: #7F7F7F;
	margin-left: 19px;
	margin-top: 16px;
	position: relative;
}

#u3010-4
{
	z-index: 11;
	width: 226px;
	min-height: 32px;
	background-color: transparent;
	color: #6FB6D7;
	text-align: left;
	font-size: 18px;
	line-height: 24px;
	font-family: muli, sans-serif;
	font-weight: 300;
	margin-left: 19px;
	margin-top: 37px;
	position: relative;
}

#pu3205
{
	width: 0.01px;
	margin-left: 44px;
	margin-top: 24px;
}

#u3205
{
	z-index: 15;
	width: 311px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 29px;
}

#u3079
{
	z-index: 52;
	height: 28px;
	width: 173px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 309px;
	background: url("../images/u3079.png") no-repeat 0px 0px;
}

#u3079:hover
{
	background: url("../images/u3079-r.png") no-repeat 0px 0px;
}

#u3060-4
{
	z-index: 95;
	width: 29px;
	min-height: 32px;
	background-color: transparent;
	color: #6FB6D7;
	text-align: left;
	font-size: 18px;
	line-height: 24px;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u3514
{
	z-index: 49;
	height: 30px;
	width: 83px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 509px;
	background: url("../images/u3514.png") no-repeat 0px 0px;
}

#u3514:hover
{
	background: url("../images/u3514-r.png") no-repeat 0px 0px;
}

#pu3063-4
{
	width: 0.01px;
	margin-left: 90px;
	margin-top: 16px;
}

#u3063-4
{
	z-index: 16;
	width: 87px;
	min-height: 32px;
	background-color: transparent;
	color: #6FB6D7;
	text-align: left;
	font-size: 18px;
	line-height: 24px;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
}

#u3073-4
{
	z-index: 20;
	width: 87px;
	min-height: 32px;
	background-color: transparent;
	color: #6FB6D7;
	text-align: left;
	font-size: 18px;
	line-height: 24px;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 289px;
}

#u3064
{
	z-index: 32;
	width: 176px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 87px;
}

#u3074
{
	z-index: 33;
	width: 176px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 356px;
}

#u3071
{
	z-index: 37;
	height: 30px;
	width: 160px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 580px;
	background: url("../images/u3071.png") no-repeat 0px 0px;
}

#u3071:hover
{
	background: url("../images/u3071-r.png") no-repeat 0px 0px;
}

#u3513
{
	z-index: 43;
	height: 30px;
	width: 83px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 767px;
	background: url("../images/u3513.png") no-repeat 0px 0px;
}

#u3513:hover
{
	background: url("../images/u3513-r.png") no-repeat 0px 0px;
}

#pu3078-4
{
	width: 0.01px;
	margin-left: 90px;
	margin-top: 11px;
}

#u3078-4
{
	z-index: 24;
	width: 87px;
	min-height: 32px;
	background-color: transparent;
	color: #6FB6D7;
	text-align: left;
	font-size: 18px;
	line-height: 24px;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 289px;
}

#u3066-4
{
	z-index: 28;
	width: 87px;
	min-height: 32px;
	background-color: transparent;
	color: #6FB6D7;
	text-align: left;
	font-size: 18px;
	line-height: 24px;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u3076
{
	z-index: 34;
	width: 176px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 356px;
}

#u3067
{
	z-index: 35;
	width: 176px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 87px;
}

#u3516
{
	z-index: 40;
	height: 30px;
	width: 160px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 580px;
	background: url("../images/u3516.png") no-repeat 0px 0px;
}

#u3516:hover
{
	background: url("../images/u3516-r.png") no-repeat 0px 0px;
}

#u3515
{
	z-index: 46;
	height: 30px;
	width: 83px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 767px;
	background: url("../images/u3515.png") no-repeat 0px 0px;
}

#u3515:hover
{
	background: url("../images/u3515-r.png") no-repeat 0px 0px;
}

#u1619
{
	z-index: 2;
	min-height: 59px;
	padding-bottom: 39px;
}

#u1619_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u1620-8
{
	z-index: 3;
	width: 626px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 257px;
}

#u1619-bw
{
	z-index: 2;
	min-height: 59px;
	margin-top: 283px;
}

#u1831-4
{
	z-index: 290;
	position: absolute;
	top: 15px;
	left: 50%;
	margin-left: 427px;
}

#u1831-4_img
{
	display: block;
	vertical-align: top;
}

#u2116-6
{
	z-index: 299;
	width: 480px;
	min-height: 29px;
	background-color: transparent;
	color: #000000;
	text-align: right;
	font-size: 12px;
	line-height: 14px;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	position: absolute;
	top: 15px;
	left: 50%;
	margin-left: -60px;
}

#u2116-6:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 480px;
	margin: 0px 0px 0px -60px;
}


@font-face
{
	font-family: '__Sukhumvit Set_5';
	src: url('../fonts/sukhumvitset-light.eot');
	src: local('☺'), url('../fonts/sukhumvitset.woff') format('woff'), url('../fonts/sukhumvitset.svg') format('svg');
	font-weight: 200;
	font-style: normal;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

