/*

*/

.version.customer_confirm_registered /* version checker */
{
	color: #000009;
	background-color: #76E6B4;
}

.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 920px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#ppu2556
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -36px;
	margin-left: -100px;
}

#pu2556
{
	z-index: 13;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 229px;
	margin-left: 119px;
}

#u2556
{
	z-index: 0;
	width: 918px;
	border-width: 2px;
	border-style: solid;
	border-color: #F7931E;
	background-color: transparent;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu2591-7
{
	width: 0.01px;
	position: relative;
	left: 202px;
	padding-top: 77px;
	z-index: 2;
	padding-bottom: 98px;
}

#u2591-7
{
	z-index: 14;
	width: 519px;
	min-height: 179px;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u2591-2,#u2591-3
{
	font-size: 36px;
	line-height: 36px;
}

#u2591-5
{
	font-size: 18px;
	line-height: 18px;
}

#u2554
{
	z-index: 11;
	height: 836px;
	background: transparent url("../images/img_6327.jpg") no-repeat center center;
	background-size: cover;
}

#u2554-bw
{
	z-index: 11;
	height: 836px;
}

#u2555
{
	z-index: 12;
	height: 836px;
	background-color: #000000;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
}

#u2555-bw
{
	z-index: 12;
	height: 836px;
}

#u2572
{
	z-index: 22;
	position: relative;
	width: 170px;
	margin-right: -10000px;
	margin-top: 442px;
	left: 495px;
}

#u2572_states
{
	height: 43px;
	width: 170px;
	vertical-align: top;
	background: url("../images/u2572_states.png") no-repeat 0px 0px;
}

#u2572:hover #u2572_states
{
	background: url("../images/u2572_states-r.png") no-repeat 0px 0px;
}

#u1613
{
	z-index: 24;
	width: 1060px;
	margin-right: -10000px;
	margin-top: 28px;
	left: 50px;
}

#u1616
{
	z-index: 33;
	width: 179px;
	padding-bottom: 29px;
	margin-bottom: -19px;
	margin-right: -10000px;
	margin-top: -28px;
	left: 38px;
}

#u1617-4
{
	z-index: 34;
	width: 178px;
	margin-right: -10000px;
	margin-top: 40px;
	left: -1px;
}

#u1615-4
{
	z-index: 29;
	width: 82px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 881px;
}

#u1614-4
{
	z-index: 25;
	width: 78px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 963px;
}

#u1619
{
	z-index: 2;
	min-height: 59px;
	padding-bottom: 39px;
}

#u1619_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u1620-8
{
	z-index: 3;
	width: 626px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 257px;
}

#u1619-bw
{
	z-index: 2;
	min-height: 59px;
	margin-bottom: -36px;
	margin-top: 858px;
}

@font-face
{
	font-family: '__Sukhumvit Set_5';
	src: url('../fonts/sukhumvitset-light.eot');
	src: local('☺'), url('../fonts/sukhumvitset.woff') format('woff'), url('../fonts/sukhumvitset.svg') format('svg');
	font-weight: 200;
	font-style: normal;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -858px;
}

