#u1615-4,#u1614-4,#u1620-8
{
	font-family: '__Sukhumvit Set_5';
}

#u2170-4
{
	font-family: muli-n3, sans-serif;
}

#u2171-4
{
	font-family: muli-n3, sans-serif;
}

#u2175-4
{
	font-family: muli-n3, sans-serif;
}

#u2176-4
{
	font-family: muli-n3, sans-serif;
}

#u2177-4
{
	font-family: muli-n3, sans-serif;
}

#u2167-4
{
	font-family: muli-n3, sans-serif;
}

#u2178-4
{
	font-family: muli-n3, sans-serif;
}

#u2166-4
{
	font-family: muli-n3, sans-serif;
}

#u2164-4
{
	font-family: muli-n3, sans-serif;
}

#widgetu2169_input,#widgetu2169_prompt,#widgetu2173_input,#widgetu2173_prompt,#widgetu2163_input,#widgetu2163_prompt
{
	font-family: muli, sans-serif;
}

#u2186-5,#u2193-5
{
	font-family: give-you-glory-n4, sans-serif;
}

