/*

*/

.version.list_package /* version checker */
{
	color: #000011;
	background-color: #D6A8EC;
}

.html
{
	background-color: #F2F2F2;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1199.9999999999998px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -38px;
	margin-bottom: -36px;
	width: 0.01px;
}

#pu1136
{
	width: 0.01px;
	margin-left: -100px;
}

#u1136
{
	z-index: 11;
	min-height: 84px;
	padding-bottom: 304px;
	background: transparent url("../images/img_5684.jpg") no-repeat center center;
	background-size: cover;
}

#u1613
{
	z-index: 152;
	width: 1060px;
	margin-right: -10000px;
	margin-top: 30px;
	left: 50px;
}

#u1616
{
	z-index: 161;
	width: 179px;
	padding-bottom: 29px;
	margin-bottom: -19px;
	margin-right: -10000px;
	margin-top: -28px;
	left: 38px;
}

#u1617-4
{
	z-index: 162;
	width: 178px;
	margin-right: -10000px;
	margin-top: 40px;
	left: -1px;
}

#u1615-4
{
	z-index: 157;
	width: 82px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 881px;
}

#u1614-4
{
	z-index: 153;
	width: 78px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 963px;
}

#u1136-bw
{
	z-index: 11;
	min-height: 84px;
}

#u1150
{
	z-index: 21;
	height: 196px;
	background-color: #000000;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
}

#u1150-bw
{
	z-index: 21;
	margin-top: 192px;
	height: 196px;
}

#u1176
{
	z-index: 22;
	width: 612px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 208px;
	left: 274px;
}

#pu1182-4
{
	width: 0.01px;
}

#u1182-4
{
	z-index: 23;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u1181-4
{
	z-index: 31;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 306px;
}

#u1178
{
	z-index: 39;
	width: 612px;
	min-height: 55px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
}

#pu1180-4
{
	width: 0.01px;
	margin-top: -6px;
}

#u1180-4
{
	z-index: 27;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u1177-4
{
	z-index: 35;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 306px;
}

#u1183
{
	z-index: 40;
	width: 612px;
	min-height: 55px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
}

#u1187-4
{
	z-index: 41;
	width: 147px;
	min-height: 30px;
	background-color: transparent;
	line-height: 43px;
	text-align: left;
	font-size: 36px;
	color: #639FBC;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 268px;
	left: 100px;
}

#u1190
{
	z-index: 45;
	width: 162px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 267px;
	left: 899px;
}

#u1188
{
	z-index: 46;
	width: 158px;
	border-width: 2px;
	border-style: solid;
	border-color: #FFA800;
	background-color: #FFFFFF;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}

#u1188.MuseLinkActive
{
	background-color: transparent;
	width: 158px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1189-4
{
	z-index: 47;
	position: relative;
	width: 108px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 23px;
}

#u1129
{
	z-index: 166;
	width: 1060px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 50px;
}

#u1132
{
	z-index: 175;
	width: 179px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	padding-bottom: 29px;
	margin-bottom: -19px;
	position: relative;
	margin-right: -10000px;
	margin-top: -28px;
	left: 38px;
	background: #000000 url("../images/8797180000761.jpg") no-repeat center center;
}

#u1133-4
{
	z-index: 176;
	position: relative;
	width: 178px;
	margin-right: -10000px;
	margin-top: 40px;
	left: -1px;
}

#u1189-4_img,#u1133-4_img
{
	display: block;
	vertical-align: top;
}

#u1131-4
{
	z-index: 171;
	width: 82px;
	min-height: 18px;
	background-color: transparent;
	line-height: 24px;
	text-align: right;
	font-size: 20px;
	color: #F7931E;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 881px;
}

#u1130-4
{
	z-index: 167;
	width: 78px;
	min-height: 18px;
	background-color: transparent;
	line-height: 24px;
	text-align: right;
	font-size: 20px;
	color: #F7931E;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 963px;
}

#u1193-4
{
	z-index: 51;
	width: 921px;
	min-height: 20px;
	background-color: transparent;
	text-align: center;
	font-size: 14px;
	color: #7F7F7F;
	font-family: muli, sans-serif;
	font-weight: 300;
	margin-left: 19px;
	margin-top: 16px;
	position: relative;
}

#pu1194
{
	width: 0.01px;
	margin-left: 19px;
	margin-top: 28px;
}

#u1194
{
	z-index: 71;
	width: 170px;
	height: 170px;
	border-color: #F7931E;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/screen%20shot%202558-04-23%20at%20112613%20pm-u1194-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u1235-6
{
	z-index: 89;
	width: 553px;
	min-height: 38px;
	background-color: transparent;
	line-height: 36px;
	text-align: left;
	font-size: 30px;
	color: #7F7F7F;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	position: relative;
}

#u1236-4
{
	z-index: 107;
	width: 553px;
	min-height: 29px;
	background-color: transparent;
	line-height: 22px;
	text-align: left;
	font-size: 18px;
	color: #7F7F7F;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	margin-top: 7px;
	position: relative;
}

#u1238-11
{
	z-index: 119;
	width: 553px;
	min-height: 84px;
	background-color: transparent;
	line-height: 22px;
	text-align: left;
	font-size: 18px;
	color: #7F7F7F;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	margin-top: 6px;
	position: relative;
}

#u1232-4
{
	z-index: 59;
	width: 128px;
	min-height: 20px;
	background-color: transparent;
	text-align: left;
	color: #7F7F7F;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
}

#u1229-4
{
	z-index: 77;
	width: 161px;
	min-height: 23px;
	background-color: #F7931E;
	line-height: 43px;
	text-align: center;
	font-size: 36px;
	color: #FFFFFF;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	position: relative;
}

#u1229-4:hover
{
	background-color: #73BDE0;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 161px;
	margin: 0px;
}

#u1203
{
	z-index: 74;
	width: 960px;
	height: 1px;
	background-color: #7F7F7F;
	opacity: 0.25;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
	filter: alpha(opacity=25);
	margin-top: 16px;
	position: relative;
}

#pu1204
{
	width: 0.01px;
	margin-left: 19px;
	margin-top: 15px;
}

#u1204
{
	z-index: 72;
	width: 170px;
	height: 170px;
	border-color: #F7931E;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/bd_bg3-u1204-fr.jpg") no-repeat center center;
	background-size: cover;
}

#pu1235-6,#pu1248-6
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 3px;
	margin-left: 209px;
}

#u1248-6
{
	z-index: 95;
	width: 553px;
	min-height: 38px;
	background-color: transparent;
	line-height: 36px;
	text-align: left;
	font-size: 30px;
	color: #7F7F7F;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	position: relative;
}

#u1247-4
{
	z-index: 111;
	width: 553px;
	min-height: 29px;
	background-color: transparent;
	line-height: 22px;
	text-align: left;
	font-size: 18px;
	color: #7F7F7F;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	margin-top: 7px;
	position: relative;
}

#u1246-11
{
	z-index: 130;
	width: 553px;
	min-height: 84px;
	background-color: transparent;
	line-height: 22px;
	text-align: left;
	font-size: 18px;
	color: #7F7F7F;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	margin-top: 6px;
	position: relative;
}

#u1233-4
{
	z-index: 63;
	width: 128px;
	min-height: 20px;
	background-color: transparent;
	text-align: left;
	color: #7F7F7F;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
}

#u1230-4
{
	z-index: 81;
	width: 162px;
	min-height: 23px;
	background-color: #F7931E;
	line-height: 43px;
	text-align: center;
	font-size: 36px;
	color: #FFFFFF;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	position: relative;
}

#u1208
{
	z-index: 75;
	width: 960px;
	height: 1px;
	background-color: #7F7F7F;
	opacity: 0.25;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
	filter: alpha(opacity=25);
	margin-top: 15px;
	position: relative;
}

#pu1206
{
	width: 0.01px;
	margin-left: 19px;
	margin-top: 16px;
}

#u1206
{
	z-index: 73;
	width: 170px;
	height: 170px;
	border-color: #F7931E;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/banquet-menus-ieu1206-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/banquet-menus.jpg") no-repeat center center;
	background-color: transparent;
	background-size: cover;
}

#pu1251-6
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 2px;
	margin-left: 209px;
}

#u1251-6
{
	z-index: 101;
	width: 553px;
	min-height: 38px;
	background-color: transparent;
	line-height: 36px;
	text-align: left;
	font-size: 30px;
	color: #7F7F7F;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	position: relative;
}

#u1235-6:hover,#u1248-6:hover,#u1251-6:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 38px;
	width: 553px;
	margin: 0px;
}

#u1235-4,#u1248-4,#u1251-4
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1235,#u1248,#u1251
{
	color: #000000;
	line-height: 36px;
}

#u1235-2,#u1248-2,#u1251-2
{
	line-height: 36px;
}

#u1235-3,#u1248-3,#u1251-3
{
	font-size: 18px;
	line-height: 22px;
}

#u1250-4
{
	z-index: 115;
	width: 553px;
	min-height: 29px;
	background-color: transparent;
	line-height: 22px;
	text-align: left;
	font-size: 18px;
	color: #7F7F7F;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	margin-top: 7px;
	position: relative;
}

#u1236-4:hover,#u1247-4:hover,#u1250-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 553px;
	margin: 7px 0px 0px;
}

#u1249-11
{
	z-index: 141;
	width: 553px;
	min-height: 84px;
	background-color: transparent;
	line-height: 22px;
	text-align: left;
	font-size: 18px;
	color: #7F7F7F;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	margin-top: 6px;
	position: relative;
}

#u1238-11:hover,#u1246-11:hover,#u1249-11:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 84px;
	width: 553px;
	margin: 6px 0px 0px;
}

#u1235-6:hover p,#u1235-6:hover span,#u1236-4:hover p,#u1238-11:hover p,#u1238-11:hover span,#u1248-6:hover p,#u1248-6:hover span,#u1247-4:hover p,#u1246-11:hover p,#u1246-11:hover span,#u1251-6:hover p,#u1251-6:hover span,#u1250-4:hover p,#u1249-11:hover p,#u1249-11:hover span
{
	color: #F7931E;
	visibility: inherit;
}

#u1238,#u1238-4,#u1238-7,#u1246,#u1246-4,#u1246-7,#u1249,#u1249-4,#u1249-7
{
	color: #000000;
}

#pu1232-4,#pu1233-4,#pu1234-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 47px;
	margin-left: 780px;
}

#u1234-4
{
	z-index: 67;
	width: 128px;
	min-height: 20px;
	background-color: transparent;
	text-align: left;
	color: #7F7F7F;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
}

#u1231-4
{
	z-index: 85;
	width: 162px;
	min-height: 23px;
	background-color: #F7931E;
	line-height: 43px;
	text-align: center;
	font-size: 36px;
	color: #FFFFFF;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	position: relative;
}

#u1230-4:hover,#u1231-4:hover
{
	background-color: #73BDE0;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 162px;
	margin: 0px;
}

#u1209
{
	z-index: 76;
	width: 960px;
	height: 1px;
	background-color: #7F7F7F;
	opacity: 0.25;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
	filter: alpha(opacity=25);
	margin-top: 12px;
	position: relative;
}

#u1228-4
{
	z-index: 55;
	width: 921px;
	min-height: 20px;
	background-color: transparent;
	text-align: center;
	font-size: 14px;
	color: #7F7F7F;
	font-family: muli, sans-serif;
	font-weight: 300;
	margin-left: 19px;
	margin-top: 58px;
	position: relative;
}

#pu1619
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 59px;
}

#u1619
{
	z-index: 2;
	min-height: 59px;
	padding-bottom: 39px;
}

#u1619_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u1620-8
{
	z-index: 3;
	width: 626px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 257px;
}

#u1619-bw
{
	z-index: 2;
	min-height: 59px;
}

#u1134
{
	z-index: 12;
	min-height: 59px;
	background-color: #1B1B1B;
	padding-bottom: 39px;
}

#u1136_align_to_page,#u1134_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u1135-8
{
	z-index: 13;
	width: 626px;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 267px;
}

#u1135-2
{
	color: #6EB4D5;
}

#u1134-bw
{
	z-index: 12;
	min-height: 59px;
}

@font-face
{
	font-family: '__Sukhumvit Set_5';
	src: url('../fonts/sukhumvitset-light.eot');
	src: local('☺'), url('../fonts/sukhumvitset.woff') format('woff'), url('../fonts/sukhumvitset.svg') format('svg');
	font-weight: 200;
	font-style: normal;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

