/*

*/

.version.login /* version checker */
{
	color: #0000F4;
	background-color: #C828BC;
}

.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 687px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#pu1011
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -36px;
	margin-left: -100px;
}

#u1011
{
	z-index: 11;
	min-height: 836px;
	background: transparent url("../images/fullsizerender.jpg") no-repeat center center;
	background-size: cover;
}

#u1011_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 28px;
	padding-bottom: 175px;
}

#u1613
{
	z-index: 66;
	width: 1060px;
	left: 50px;
}

#u1616
{
	z-index: 75;
	width: 179px;
	padding-bottom: 29px;
	margin-bottom: -19px;
	margin-right: -10000px;
	margin-top: -28px;
	left: 38px;
}

#u1617-4
{
	z-index: 76;
	width: 178px;
	margin-right: -10000px;
	margin-top: 40px;
	left: -1px;
}

#u1615-4
{
	z-index: 71;
	width: 82px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 881px;
}

#u1614-4
{
	z-index: 67;
	width: 78px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 963px;
}

#u1084
{
	z-index: 21;
	width: 920px;
	border-color: #000000;
	background-color: #3F3F3F;
	background-color: rgba(0,0,0,0.75);
	padding-bottom: 65px;
	left: 120px;
	margin-top: 99px;
	position: relative;
	-pie-background: rgba(0,0,0,0.75);
}

#pu1094-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 89px;
	margin-left: 57px;
}

#u1094-4
{
	z-index: 25;
	width: 321px;
	min-height: 35px;
	background-color: transparent;
	text-align: center;
	color: #73BDE0;
	line-height: 36px;
	font-size: 30px;
	font-family: muli, sans-serif;
	font-weight: 300;
	font-style: normal;
	position: relative;
}

#u1094-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 321px;
	margin: 0px;
}

#pu1110
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 69px;
}

#u1110
{
	z-index: 53;
	width: 104px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u1101
{
	z-index: 51;
	width: 93px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 189px;
}

#pu1116-4
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 14px;
}

#u1116-4
{
	z-index: 29;
	width: 141px;
	min-height: 35px;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	line-height: 22px;
	font-size: 18px;
	font-family: muli, sans-serif;
	font-weight: 300;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#u1116-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 141px;
	margin: 5px -10000px 0px 0px;
}

#u1117-6
{
	z-index: 41;
	width: 141px;
	min-height: 35px;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	line-height: 22px;
	font-size: 18px;
	font-family: muli, sans-serif;
	font-weight: 300;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	left: 181px;
}

#u1117-6:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 141px;
	margin: 0px -10000px 0px 0px;
}

#u1090
{
	z-index: 24;
	width: 2px;
	height: 351px;
	border-color: #000000;
	background-color: #F0DEB4;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 64px;
	left: 446px;
}

#pu1100-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 89px;
	margin-left: 487px;
}

#u1100-4
{
	z-index: 47;
	width: 321px;
	min-height: 35px;
	background-color: transparent;
	text-align: center;
	color: #F59231;
	line-height: 36px;
	font-size: 30px;
	font-family: muli, sans-serif;
	font-weight: 300;
	font-style: normal;
	margin-left: 4px;
	position: relative;
}

#u1100-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 321px;
	margin: 0px 0px 0px 4px;
}

#u1086
{
	z-index: 22;
	width: 327px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 43px;
	position: relative;
}

#u1088
{
	z-index: 23;
	width: 327px;
	min-height: 129px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2119-4
{
	z-index: 33;
	width: 168px;
	min-height: 21px;
	background-color: transparent;
	text-align: center;
	font-size: 14px;
	color: #FFFFFF;
	font-family: muli, sans-serif;
	font-weight: 300;
	font-style: normal;
	margin-left: 81px;
	margin-top: 66px;
	position: relative;
}

#u2119-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 168px;
	margin: 66px 0px 0px 81px;
}

#u1011-bw
{
	z-index: 11;
	min-height: 836px;
}

#u2120-4
{
	z-index: 37;
	width: 168px;
	min-height: 21px;
	background-color: transparent;
	text-align: center;
	font-size: 14px;
	color: #FFFFFF;
	font-family: muli, sans-serif;
	font-weight: 300;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 564px;
	left: 687px;
}

#u2120-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 168px;
	margin: 564px -10000px 0px 0px;
}

#u1094-4:hover p,#u1116-4:hover p,#u1117-6:hover p,#u1100-4:hover p,#u2119-4:hover p,#u2120-4:hover p
{
	color: #FFA800;
	visibility: inherit;
}

#u3130
{
	z-index: 56;
	height: 34px;
	width: 140px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 476px;
	left: 624px;
	background: url("../images/u3130.png") no-repeat 0px 0px;
}

#u3130:hover
{
	background: url("../images/u3130-r.png") no-repeat 0px 0px;
}

#u3169
{
	z-index: 58;
	width: 142px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 475px;
	left: 775px;
}

#u3164
{
	z-index: 59;
	width: 138px;
	border-width: 2px;
	border-style: solid;
	border-color: #3B5998;
	background-color: #FFFFFF;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
}

#u3164:hover
{
	background-color: #CED5E5;
	background-color: rgba(59,89,152,0.25);
	width: 138px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(59,89,152,0.25);
}

#u3165
{
	z-index: 60;
	width: 20px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 6px;
}

#u3167-4
{
	z-index: 62;
	position: relative;
	width: 111px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 26px;
}

#u998
{
	z-index: 80;
	width: 1060px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 50px;
}

#u1001
{
	z-index: 81;
	width: 1060px;
	background-color: #FFFFFF;
	padding-bottom: 14px;
	position: relative;
	margin-right: -10000px;
}

#u1000-4
{
	z-index: 86;
	position: relative;
	width: 82px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 881px;
}

#u999-4
{
	z-index: 82;
	position: relative;
	width: 78px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 963px;
}

#u1002
{
	z-index: 90;
	width: 179px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	padding-bottom: 29px;
	position: relative;
	margin-right: -10000px;
	left: 88px;
	background: #000000 url("../images/8797180000761.jpg") no-repeat center center;
}

#u1003-4
{
	z-index: 91;
	position: relative;
	width: 178px;
	margin-right: -10000px;
	margin-top: 40px;
	left: -1px;
}

#u3167-4_img,#u1000-4_img,#u999-4_img,#u1003-4_img
{
	display: block;
	vertical-align: top;
}

#pu1619
{
	width: 0.01px;
	margin: 800px -10000px -36px -100px;
}

#u1619
{
	z-index: 2;
	min-height: 59px;
	padding-bottom: 39px;
}

#u1619_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u1620-8
{
	z-index: 3;
	width: 626px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 257px;
}

#u1619-bw
{
	z-index: 2;
	min-height: 59px;
}

#u1076
{
	z-index: 12;
	min-height: 66px;
	background-color: #1B1B1B;
	padding-bottom: 32px;
}

#u1076_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u1083-8
{
	z-index: 13;
	width: 626px;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 267px;
}

#u1083-2
{
	color: #6EB4D5;
}

#u1076-bw
{
	z-index: 12;
	min-height: 66px;
}

@font-face
{
	font-family: '__Sukhumvit Set_5';
	src: url('../fonts/sukhumvitset-light.eot');
	src: local('☺'), url('../fonts/sukhumvitset.woff') format('woff'), url('../fonts/sukhumvitset.svg') format('svg');
	font-weight: 200;
	font-style: normal;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -799px;
}

