#u1613
{
	background-color: #FFFFFF;
	position: relative;
}

#u1616
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	position: relative;
	background: #000000 url("../images/8797180000761.jpg") no-repeat center center;
}

#u1617-4_img
{
	display: block;
	vertical-align: top;
}

#u1615-4,#u1614-4
{
	background-color: transparent;
	color: #F7931E;
	text-align: right;
	font-size: 20px;
	line-height: 24px;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	position: relative;
}

#u1619
{
	background-color: #000000;
}

#u1617-4,#u1619_align_to_page
{
	position: relative;
}

#u1620-8
{
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	position: relative;
}

#u1620-2
{
	color: #6EB4D5;
}

