/*

*/

.version.package /* version checker */
{
	color: #0000F8;
	background-color: #B29373;
}

.html
{
	background-color: #1B1B1B;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1966px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -36px;
	width: 0.01px;
}

#u448
{
	z-index: 24;
	min-height: 604px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u448-bw
{
	z-index: 24;
	min-height: 604px;
}

#u486
{
	z-index: 25;
	min-height: 70px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(0,0,0,0)),color-stop(100%, #1B1B1B));
	background: -webkit-linear-gradient(top,rgba(0,0,0,0) ,#1B1B1B 100%);
	background: linear-gradient(to bottom,rgba(0,0,0,0) ,#1B1B1B 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000, endColorstr=#FF1B1B1B, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#FF1B1B1B', GradientType=0)";
}

#u493-4
{
	z-index: 26;
	width: 729px;
	min-height: 50px;
	background-color: transparent;
	line-height: 43px;
	text-align: left;
	font-size: 36px;
	color: #FFFFFF;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 120px;
}

#u486-bw
{
	z-index: 25;
	min-height: 70px;
	margin-top: 530px;
}

#u988-4
{
	z-index: 34;
	width: 227px;
	min-height: 40px;
	background-color: transparent;
	line-height: 22px;
	text-align: right;
	font-size: 18px;
	color: #F7931E;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	margin-top: 560px;
	left: 813px;
}

#u1613
{
	z-index: 137;
	width: 1060px;
	margin-right: -10000px;
	margin-top: 28px;
	left: 50px;
}

#u1616
{
	z-index: 146;
	width: 179px;
	padding-bottom: 29px;
	margin-bottom: -19px;
	margin-right: -10000px;
	margin-top: -28px;
	left: 38px;
}

#u1617-4
{
	z-index: 147;
	width: 178px;
	margin-right: -10000px;
	margin-top: 40px;
	left: -1px;
}

#u1615-4
{
	z-index: 142;
	width: 82px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 881px;
}

#u1614-4
{
	z-index: 138;
	width: 78px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 963px;
}

#u965
{
	z-index: 151;
	width: 1060px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 50px;
}

#u967
{
	z-index: 152;
	width: 1060px;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.8);
	padding-bottom: 14px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(255,255,255,0.8);
}

#u966-4
{
	z-index: 157;
	width: 82px;
	min-height: 18px;
	background-color: transparent;
	line-height: 24px;
	text-align: right;
	font-size: 20px;
	color: #F7931E;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 881px;
}

#u968-4
{
	z-index: 153;
	width: 78px;
	min-height: 18px;
	background-color: transparent;
	line-height: 24px;
	text-align: right;
	font-size: 20px;
	color: #F7931E;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 963px;
}

#u969
{
	z-index: 161;
	width: 179px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	padding-bottom: 29px;
	position: relative;
	margin-right: -10000px;
	left: 88px;
	background: #000000 url("../images/8797180000761.jpg") no-repeat center center;
}

#u970-4
{
	z-index: 162;
	position: relative;
	width: 178px;
	margin-right: -10000px;
	margin-top: 40px;
	left: -1px;
}

#u979
{
	z-index: 38;
	width: 960px;
	height: 1px;
	background-color: #FFFFFF;
	top: -4px;
	margin-bottom: -1px;
	position: relative;
}

#u980-4
{
	z-index: 30;
	width: 575px;
	min-height: 40px;
	background-color: transparent;
	line-height: 29px;
	text-align: left;
	font-size: 24px;
	color: #7F7F7F;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	margin-left: 20px;
	margin-top: 3px;
	position: relative;
}

#u1872-4
{
	z-index: 47;
	width: 553px;
	min-height: 43px;
	background-color: transparent;
	line-height: 22px;
	text-align: left;
	font-size: 18px;
	color: #7F7F7F;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	margin-left: 45px;
	margin-top: 48px;
	position: relative;
}

#u1872-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	width: 553px;
	margin: 48px 0px 0px 45px;
}

#u1872-4.MuseLinkActive p
{
	color: #5B9CB8;
	visibility: inherit;
	font-size: 30px;
	font-family: muli, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u1262-4
{
	z-index: 51;
	width: 870px;
	min-height: 90px;
	background-color: transparent;
	line-height: 22px;
	text-align: left;
	font-size: 18px;
	color: #7F7F7F;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	margin-left: 45px;
	margin-top: 6px;
	position: relative;
}

#u1262-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 90px;
	width: 870px;
	margin: 6px 0px 0px 45px;
}

#u1262-4.MuseLinkActive p
{
	color: #FFFFFF;
	visibility: inherit;
	font-size: 16px;
	text-align: justify;
	font-family: muli, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#pu3209
{
	width: 0.01px;
	margin-top: 29px;
}

#u3209
{
	z-index: 20;
	width: 920px;
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
	padding: 21px 19px 25.400000000000205px;
}

#u1261-4
{
	z-index: 39;
	width: 553px;
	min-height: 41px;
	background-color: transparent;
	line-height: 22px;
	text-align: left;
	font-size: 18px;
	color: #7F7F7F;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	margin-left: 25px;
	position: relative;
}

#u1261-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 41px;
	width: 553px;
	margin: 0px 0px 0px 25px;
}

#u1880
{
	z-index: 21;
	width: 920px;
	background-color: #2F2F2F;
	padding-bottom: 13px;
	margin-top: 14px;
	position: relative;
}

#pu1873-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 15px;
	margin-left: 25px;
}

#u1873-4
{
	z-index: 55;
	width: 155px;
	min-height: 37px;
	background-color: transparent;
	line-height: 22px;
	text-align: left;
	font-size: 18px;
	color: #F7931E;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	position: relative;
}

#u1886-13
{
	z-index: 92;
	width: 496px;
	min-height: 111px;
	background-color: transparent;
	line-height: 22px;
	text-align: left;
	font-size: 18px;
	color: #FFFFFF;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	margin-top: 9px;
	position: relative;
}

#u1883-4
{
	z-index: 80;
	margin-left: 209px;
	position: relative;
}

#u1893-4
{
	z-index: 59;
	width: 329px;
	min-height: 19px;
	background-color: transparent;
	text-align: left;
	font-size: 14px;
	color: #7F7F7F;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	margin-top: 25px;
	position: relative;
}

#u1893-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 329px;
	margin: 25px 0px 0px;
}

#u1881
{
	z-index: 22;
	width: 920px;
	background-color: #2F2F2F;
	padding-bottom: 16px;
	margin-top: 18px;
	position: relative;
}

#pu1874-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 12px;
	margin-left: 25px;
}

#u1874-4
{
	z-index: 71;
	width: 155px;
	min-height: 37px;
	background-color: transparent;
	line-height: 22px;
	text-align: left;
	font-size: 18px;
	color: #F7931E;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	position: relative;
}

#u1889-11
{
	z-index: 105;
	width: 496px;
	min-height: 111px;
	background-color: transparent;
	line-height: 22px;
	text-align: left;
	font-size: 18px;
	color: #FFFFFF;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	margin-top: 9px;
	position: relative;
}

#pu1883-4,#pu1884-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 92px;
	margin-left: 566px;
}

#u1884-4
{
	z-index: 84;
	margin-left: 209px;
	position: relative;
}

#u1894-4
{
	z-index: 63;
	width: 329px;
	min-height: 19px;
	background-color: transparent;
	text-align: left;
	font-size: 14px;
	color: #7F7F7F;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	margin-top: 22px;
	position: relative;
}

#u1894-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 329px;
	margin: 22px 0px 0px;
}

#u1882
{
	z-index: 23;
	width: 920px;
	background-color: #2F2F2F;
	padding-bottom: 18px;
	margin-top: 17px;
	position: relative;
}

#pu1875-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 10px;
	margin-left: 25px;
}

#u1875-4
{
	z-index: 75;
	width: 155px;
	min-height: 37px;
	background-color: transparent;
	line-height: 22px;
	text-align: left;
	font-size: 18px;
	color: #F7931E;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	position: relative;
}

#u1873-4.MuseLinkActive,#u1874-4.MuseLinkActive,#u1875-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 155px;
	margin: 0px;
}

#u1873-4.MuseLinkActive p,#u1874-4.MuseLinkActive p,#u1875-4.MuseLinkActive p
{
	color: #F7931E;
	visibility: inherit;
	font-size: 24px;
	text-align: justify;
	line-height: 1.3;
	font-family: muli, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u1890-9
{
	z-index: 116;
	width: 496px;
	min-height: 111px;
	background-color: transparent;
	line-height: 22px;
	text-align: left;
	font-size: 18px;
	color: #FFFFFF;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	margin-top: 9px;
	position: relative;
}

#pu1885-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 93px;
	margin-left: 566px;
}

#u1885-4
{
	z-index: 88;
	margin-left: 209px;
	position: relative;
}

#u970-4_img,#u1883-4_img,#u1884-4_img,#u1885-4_img
{
	display: block;
	vertical-align: top;
}

#u1895-4
{
	z-index: 67;
	width: 329px;
	min-height: 19px;
	background-color: transparent;
	text-align: left;
	font-size: 14px;
	color: #7F7F7F;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	margin-top: 19px;
	position: relative;
}

#u1895-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 329px;
	margin: 19px 0px 0px;
}

#u1893-4.MuseLinkActive p,#u1894-4.MuseLinkActive p,#u1895-4.MuseLinkActive p
{
	color: #7F7F7F;
	visibility: inherit;
	font-size: 14px;
	text-align: right;
	line-height: 1.3;
	font-family: muli, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u1888-4
{
	z-index: 125;
	width: 120px;
	min-height: 35px;
	background-color: transparent;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	color: #FFFFFF;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	margin-top: 134px;
	left: 795px;
}

#u1891-4
{
	z-index: 129;
	width: 120px;
	min-height: 35px;
	background-color: transparent;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	color: #FFFFFF;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	margin-top: 337px;
	left: 795px;
}

#u1892-4
{
	z-index: 133;
	width: 120px;
	min-height: 35px;
	background-color: transparent;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	color: #FFFFFF;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	margin-top: 540px;
	left: 795px;
}

#u1876-4
{
	z-index: 43;
	width: 553px;
	min-height: 41px;
	background-color: transparent;
	line-height: 22px;
	text-align: left;
	font-size: 18px;
	color: #7F7F7F;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	margin-left: 45px;
	margin-top: 30px;
	position: relative;
}

#u1876-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 41px;
	width: 553px;
	margin: 30px 0px 0px 45px;
}

#u1261-4.MuseLinkActive p,#u1876-4.MuseLinkActive p
{
	color: #5A9BB7;
	visibility: inherit;
	font-size: 30px;
	font-family: muli, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u1269
{
	z-index: 79;
	min-height: 304px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u1269-bw
{
	z-index: 79;
	min-height: 304px;
	margin-top: 11px;
}

#pu448,#pu1619
{
	width: 0.01px;
	margin-left: -100px;
}

#u1619
{
	z-index: 2;
	min-height: 59px;
	padding-bottom: 39px;
}

#u1619_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u1620-8
{
	z-index: 3;
	width: 626px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 257px;
}

#u1619-bw
{
	z-index: 2;
	min-height: 59px;
	margin-top: 1px;
}

#u1121
{
	z-index: 11;
	min-height: 59px;
	background-color: #000000;
	padding-bottom: 39px;
}

#u486_align_to_page,#u1121_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u1119-8
{
	z-index: 12;
	width: 626px;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 267px;
}

#u1119-2
{
	color: #6EB4D5;
}

#u1121-bw
{
	z-index: 11;
	min-height: 59px;
}

@font-face
{
	font-family: '__Sukhumvit Set_5';
	src: url('../fonts/sukhumvitset-light.eot');
	src: local('☺'), url('../fonts/sukhumvitset.woff') format('woff'), url('../fonts/sukhumvitset.svg') format('svg');
	font-weight: 200;
	font-style: normal;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

