/*

*/

.version.staff_dashboard /* version checker */
{
	color: #0000E1;
	background-color: #F13264;
}

.html
{
	background-color: #1B1B1B;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 3640.949999999999px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -36px;
	width: 0.01px;
}

#pu1839
{
	width: 0.01px;
	padding-bottom: 266px;
}

#u1839
{
	z-index: 249;
	height: 266px;
	position: fixed;
	top: 0px;
	background: transparent url("../images/thepighighres-16.jpg") no-repeat center top;
	background-size: cover;
}

#u1839-bw
{
	z-index: 249;
}

#u1830
{
	z-index: 289;
	width: 1060px;
	height: 54px;
	background-color: #FFFFFF;
	position: fixed;
	top: 28px;
	left: 50%;
	margin-left: -530px;
}

#u1832
{
	z-index: 294;
	width: 179px;
	height: 99px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -492px;
	background: #000000 url("../images/8797180000761.jpg") no-repeat center center;
}

#u1829-4
{
	z-index: 295;
	position: fixed;
	top: 41px;
	left: 50%;
	margin-left: -492px;
}

#u2116-6
{
	z-index: 299;
	width: 480px;
	min-height: 29px;
	background-color: transparent;
	color: #000000;
	text-align: right;
	font-size: 12px;
	line-height: 14px;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	position: fixed;
	top: 42px;
	left: 50%;
	margin-left: -60px;
}

#u2116-6:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 480px;
	margin: 0px 0px 0px -60px;
}

#u1831-4
{
	z-index: 290;
	position: fixed;
	top: 44px;
	left: 50%;
	margin-left: 427px;
}

#u1829-4_img,#u1831-4_img
{
	display: block;
	vertical-align: top;
}

#pevents
{
	width: 0.01px;
	margin-left: -50px;
	margin-top: -266px;
}

#events
{
	margin-left: 466px;
	position: relative;
}

#u1613
{
	z-index: 275;
	width: 1060px;
	margin-top: 10px;
}

#u1616
{
	z-index: 284;
	width: 179px;
	padding-bottom: 29px;
	margin-bottom: -19px;
	margin-right: -10000px;
	margin-top: -28px;
	left: 38px;
}

#u1617-4
{
	z-index: 285;
	width: 178px;
	margin-right: -10000px;
	margin-top: 40px;
	left: -1px;
}

#u1615-4
{
	z-index: 280;
	width: 82px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 881px;
}

#u1614-4
{
	z-index: 276;
	width: 78px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 963px;
}

#u1846
{
	z-index: 250;
	height: 168px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(0,0,0,0)),color-stop(100%, #000000));
	background: -webkit-linear-gradient(top,rgba(0,0,0,0) ,#000000 100%);
	background: linear-gradient(to bottom,rgba(0,0,0,0) ,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000, endColorstr=#FF000000, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#FF000000', GradientType=0)";
	position: fixed;
	top: 98px;
}

#u1846-bw
{
	z-index: 250;
}

#u1838-4
{
	z-index: 255;
	width: 225px;
	min-height: 43px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 24px;
	line-height: 41px;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 201px;
	left: 50%;
	margin-left: -449px;
}

#u1838-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	width: 225px;
	margin: 0px 0px 0px -449px;
}

#u1838-4.MuseLinkActive p
{
	color: #70B8DA;
	visibility: inherit;
	font-weight: normal;
}

#u1843
{
	z-index: 268;
	width: 147px;
	height: 2px;
	background-color: #70B8DA;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: fixed;
	top: 199px;
	left: 50%;
	margin-left: -411px;
}

#u1843.MuseLinkActive
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 147px;
	height: 2px;
	min-height: 0px;
	margin: 0px 0px 0px -411px;
}

#u1842-4
{
	z-index: 259;
	width: 225px;
	min-height: 43px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 24px;
	line-height: 41px;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 201px;
	left: 50%;
	margin-left: -225px;
}

#u1842-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	width: 225px;
	margin: 0px 0px 0px -225px;
}

#u1841
{
	z-index: 269;
	width: 97px;
	height: 2px;
	background-color: #70B8DA;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: fixed;
	top: 199px;
	left: 50%;
	margin-left: -159px;
}

#u1841.MuseLinkActive
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 97px;
	height: 2px;
	min-height: 0px;
	margin: 0px 0px 0px -159px;
}

#u3197-4
{
	z-index: 263;
	width: 225px;
	min-height: 43px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 24px;
	line-height: 41px;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 201px;
	left: 50%;
	margin-left: 0px;
}

#u3197-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	width: 225px;
	margin: 0px;
}

#u3198
{
	z-index: 270;
	width: 164px;
	height: 2px;
	background-color: #70B8DA;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: fixed;
	top: 199px;
	left: 50%;
	margin-left: 31px;
}

#u3198.MuseLinkActive
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 164px;
	height: 2px;
	min-height: 0px;
	margin: 0px 0px 0px 31px;
}

#u1845-4
{
	z-index: 251;
	width: 225px;
	min-height: 43px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 24px;
	line-height: 41px;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 201px;
	left: 50%;
	margin-left: 225px;
}

#u1845-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	width: 225px;
	margin: 0px 0px 0px 225px;
}

#u1842-4.MuseLinkActive p,#u3197-4.MuseLinkActive p,#u1845-4.MuseLinkActive p
{
	color: #70B8DA;
	visibility: inherit;
}

#u1840
{
	z-index: 271;
	width: 144px;
	height: 2px;
	background-color: #70B8DA;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: fixed;
	top: 199px;
	left: 50%;
	margin-left: 266px;
}

#u1840.MuseLinkActive
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 144px;
	height: 2px;
	min-height: 0px;
	margin: 0px 0px 0px 266px;
}

#u1793
{
	z-index: 44;
	min-height: 183px;
	background-color: #000000;
	padding-bottom: 67px;
}

#u2033
{
	z-index: 119;
	width: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 120px;
}

#u2034
{
	z-index: 120;
	width: 100px;
	height: 100px;
	border-color: #F7931E;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	background: #7F7F7F url("../images/11295728_10204467795762633_3890141743700604656_n-ieu2253-fr.png") no-repeat left bottom;
	background: rgba(0,0,0,0) url("../images/11295728_10204467795762633_3890141743700604656_n.jpg") no-repeat left bottom;
	background-color: #7F7F7F;
	background-size: cover;
}

#u2038-4
{
	z-index: 87;
	width: 549px;
	min-height: 38px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: left;
	font-size: 18px;
	line-height: 24px;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	position: relative;
}

#u2037-4
{
	z-index: 125;
	width: 549px;
	min-height: 42px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: left;
	font-size: 30px;
	line-height: 36px;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	position: relative;
}

#u1816-7
{
	z-index: 66;
	width: 330px;
	min-height: 48px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: left;
	font-size: 18px;
	line-height: 22px;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	position: relative;
}

#u1816-7:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 48px;
	width: 330px;
	margin: 0px;
}

#u1793-bw
{
	z-index: 44;
	min-height: 183px;
}

#u1826
{
	z-index: 49;
	position: relative;
	width: 145px;
	margin-right: -10000px;
	margin-top: 55px;
	left: 895px;
}

#u1826_states
{
	height: 34px;
	width: 145px;
	vertical-align: top;
	background: url("../images/u1826_states.png") no-repeat 0px 0px;
}

#u1826:hover #u1826_states
{
	background: url("../images/u1826_states-r.png") no-repeat 0px 0px;
}

#u2029
{
	z-index: 58;
	position: relative;
	width: 145px;
	margin-right: -10000px;
	margin-top: 121px;
	left: 895px;
}

#u2029_states
{
	height: 34px;
	width: 145px;
	vertical-align: top;
	background: url("../images/u2029_states.png") no-repeat 0px 0px;
}

#u2029:hover #u2029_states
{
	background: url("../images/u2029_states-r.png") no-repeat 0px 0px;
}

#u1812-6
{
	z-index: 99;
	width: 220px;
	min-height: 48px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: left;
	font-size: 18px;
	line-height: 22px;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	margin-top: 135px;
	left: 614px;
}

#u1812-6:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 48px;
	width: 220px;
	margin: 135px -10000px 0px 0px;
}

#u1844
{
	z-index: 267;
	height: 1px;
	background-color: #FFFFFF;
	opacity: 0.35;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
	filter: alpha(opacity=35);
	position: fixed;
	top: 266px;
}

#u1844-bw
{
	z-index: 267;
}

#pu1793,#pu2047
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 1px;
}

#u2047
{
	z-index: 47;
	min-height: 250px;
	background-color: #171717;
}

#u2044
{
	z-index: 123;
	width: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 120px;
}

#u2045
{
	z-index: 124;
	width: 100px;
	height: 100px;
	border-color: #F7931E;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	background: #7F7F7F url("../images/d4150512cf3c11e2bf3222000a1fd299_7.jpg") no-repeat center center;
	background-size: cover;
}

#u2050-4
{
	z-index: 95;
	width: 549px;
	min-height: 38px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: left;
	font-size: 18px;
	line-height: 24px;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	position: relative;
}

#u2049-4
{
	z-index: 133;
	width: 549px;
	min-height: 42px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: left;
	font-size: 30px;
	line-height: 36px;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	position: relative;
}

#u2048-7
{
	z-index: 80;
	width: 330px;
	min-height: 60px;
	background-color: transparent;
	line-height: 22px;
	text-align: left;
	font-size: 18px;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	position: relative;
}

#package
{
	margin-left: 252px;
	margin-top: 37px;
	position: relative;
}

#u2047-bw
{
	z-index: 47;
	min-height: 250px;
}

#u2053
{
	z-index: 55;
	position: relative;
	width: 145px;
	margin-right: -10000px;
	margin-top: 55px;
	left: 895px;
}

#u2053_states
{
	height: 34px;
	width: 145px;
	vertical-align: top;
	background: url("../images/u2053_states.png") no-repeat 0px 0px;
}

#u2053:hover #u2053_states
{
	background: url("../images/u2053_states-r.png") no-repeat 0px 0px;
}

#u2052
{
	z-index: 64;
	position: relative;
	width: 145px;
	margin-right: -10000px;
	margin-top: 121px;
	left: 895px;
}

#u2052_states
{
	height: 34px;
	width: 145px;
	vertical-align: top;
	background: url("../images/u2052_states.png") no-repeat 0px 0px;
}

#u2052:hover #u2052_states
{
	background: url("../images/u2052_states-r.png") no-repeat 0px 0px;
}

#u2051-6
{
	z-index: 111;
	width: 220px;
	min-height: 60px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: left;
	font-size: 18px;
	line-height: 22px;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	margin-top: 135px;
	left: 614px;
}

#u2054
{
	z-index: 45;
	min-height: 195px;
	background-color: #000000;
	padding-bottom: 55px;
}

#u2055
{
	z-index: 121;
	width: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 120px;
}

#u2056
{
	z-index: 122;
	width: 100px;
	height: 100px;
	border-color: #F7931E;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	background: #7F7F7F url("../images/taylor_swift2-ieu2056-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/taylor_swift2.jpg") no-repeat center center;
	background-color: #7F7F7F;
	background-size: cover;
}

#pu2038-4,#pu2050-4,#pu2058-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 55px;
	margin-left: 285px;
}

#u2058-4
{
	z-index: 91;
	width: 549px;
	min-height: 38px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: left;
	font-size: 18px;
	line-height: 24px;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	position: relative;
}

#u2038-4:hover,#u2050-4:hover,#u2058-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 38px;
	width: 549px;
	margin: 0px;
}

#u2059-4
{
	z-index: 129;
	width: 549px;
	min-height: 42px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: left;
	font-size: 30px;
	line-height: 36px;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	position: relative;
}

#u2037-4:hover,#u2049-4:hover,#u2059-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 42px;
	width: 549px;
	margin: 0px;
}

#u2063-7
{
	z-index: 73;
	width: 330px;
	min-height: 60px;
	background-color: transparent;
	line-height: 22px;
	text-align: left;
	font-size: 18px;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	position: relative;
}

#u2048-7:hover,#u2063-7:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 60px;
	width: 330px;
	margin: 0px;
}

#u2048-3,#u2063-3
{
	color: #FFFFFF;
}

#u1816-2,#u1816-4,#u2048-2,#u2048-5,#u2063-2,#u2063-5
{
	color: #7F7F7F;
}

#u2054-bw
{
	z-index: 45;
	min-height: 195px;
}

#u2062
{
	z-index: 52;
	position: relative;
	width: 145px;
	margin-right: -10000px;
	margin-top: 55px;
	left: 895px;
}

#u2062_states
{
	height: 34px;
	width: 145px;
	vertical-align: top;
	background: url("../images/u2062_states.png") no-repeat 0px 0px;
}

#u2062:hover #u2062_states
{
	background: url("../images/u2062_states-r.png") no-repeat 0px 0px;
}

#u2061
{
	z-index: 61;
	position: relative;
	width: 145px;
	margin-right: -10000px;
	margin-top: 121px;
	left: 895px;
}

#u2061_states
{
	height: 34px;
	width: 145px;
	vertical-align: top;
	background: url("../images/u2061_states.png") no-repeat 0px 0px;
}

#u2061:hover #u2061_states
{
	background: url("../images/u2061_states-r.png") no-repeat 0px 0px;
}

#u2060-6
{
	z-index: 105;
	width: 220px;
	min-height: 60px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: left;
	font-size: 18px;
	line-height: 22px;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	margin-top: 135px;
	left: 614px;
}

#u2051-6:hover,#u2060-6:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 60px;
	width: 220px;
	margin: 135px -10000px 0px 0px;
}

#ppu1839,#pu2054,#ppu2758
{
	width: 0.01px;
	margin-left: -100px;
}

#pu2758
{
	z-index: 232;
	width: 0.01px;
	position: relative;
	margin: 247px -10000px -1px 99px;
}

#pcalender
{
	width: 0.01px;
	position: relative;
	left: 450px;
	padding-top: 560px;
	z-index: 2;
	padding-bottom: 200px;
}

#calender
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
}

#u2082
{
	z-index: 46;
	height: 368px;
	background: #000000 url("../images/screen%20shot%202558-04-23%20at%20112613%20pm.jpg") no-repeat center center;
	background-size: cover;
}

#u2082-bw
{
	z-index: 46;
	height: 368px;
}

#u2087
{
	z-index: 137;
	height: 368px;
	background-color: #000000;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

#u2087-bw
{
	z-index: 137;
	height: 368px;
}

#u2760
{
	z-index: 138;
	width: 960px;
	height: 120px;
	background-color: #000000;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 248px;
	left: 100px;
}

#u2730
{
	z-index: 139;
	width: 940px;
	background-color: #000000;
	padding-bottom: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 401px;
	left: 110px;
}

#pu2734-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 15px;
	margin-left: 45px;
}

#u2734-4
{
	z-index: 142;
	width: 155px;
	min-height: 37px;
	background-color: transparent;
	color: #F7931E;
	text-align: left;
	font-size: 24px;
	line-height: 29px;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
}

#u2743-13
{
	z-index: 178;
	width: 496px;
	min-height: 111px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: left;
	font-size: 18px;
	line-height: 22px;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	margin-top: 9px;
	position: relative;
}

#pu3337-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 10px;
	margin-left: 586px;
}

#u3337-4
{
	z-index: 150;
	width: 135px;
	min-height: 19px;
	background-color: transparent;
	text-align: right;
	color: #FF0000;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	margin-left: 209px;
	position: relative;
}

#u2746-4
{
	z-index: 211;
	width: 120px;
	min-height: 35px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	margin-left: 209px;
	margin-top: 28px;
	position: relative;
}

#u2735-4
{
	z-index: 146;
	width: 329px;
	min-height: 19px;
	background-color: transparent;
	text-align: right;
	color: #7F7F7F;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	margin-top: 61px;
	position: relative;
}

#u2735-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 329px;
	margin: 61px 0px 0px;
}

#u2731
{
	z-index: 140;
	width: 940px;
	background-color: #000000;
	padding-bottom: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 604px;
	left: 110px;
}

#pu2738-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 12px;
	margin-left: 45px;
}

#u2738-4
{
	z-index: 170;
	width: 155px;
	min-height: 37px;
	background-color: transparent;
	color: #F7931E;
	text-align: left;
	font-size: 24px;
	line-height: 29px;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
}

#u2744-11
{
	z-index: 191;
	width: 496px;
	min-height: 111px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: left;
	font-size: 18px;
	line-height: 22px;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	margin-top: 9px;
	position: relative;
}

#pu3338-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 12px;
	margin-left: 586px;
}

#u3338-4
{
	z-index: 154;
	width: 135px;
	min-height: 19px;
	background-color: transparent;
	text-align: right;
	color: #FF0000;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	margin-left: 209px;
	position: relative;
}

#u2747-4
{
	z-index: 215;
	width: 120px;
	min-height: 35px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	margin-left: 209px;
	margin-top: 26px;
	position: relative;
}

#u2736-4
{
	z-index: 162;
	width: 329px;
	min-height: 19px;
	background-color: transparent;
	text-align: right;
	color: #7F7F7F;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	margin-top: 58px;
	position: relative;
}

#u2736-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 329px;
	margin: 58px 0px 0px;
}

#u2732
{
	z-index: 141;
	width: 940px;
	background-color: #000000;
	padding-bottom: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 807px;
	left: 110px;
}

#pu2739-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 9px;
	margin-left: 45px;
}

#u2739-4
{
	z-index: 174;
	width: 155px;
	min-height: 37px;
	background-color: transparent;
	color: #F7931E;
	text-align: left;
	font-size: 24px;
	line-height: 29px;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
}

#u2734-4:hover,#u2738-4:hover,#u2739-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 155px;
	margin: 0px;
}

#u2745-9
{
	z-index: 202;
	width: 496px;
	min-height: 111px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: left;
	font-size: 18px;
	line-height: 22px;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	margin-top: 9px;
	position: relative;
}

#pu3339-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 13px;
	margin-left: 586px;
}

#u3339-4
{
	z-index: 158;
	width: 135px;
	min-height: 19px;
	background-color: transparent;
	text-align: right;
	color: #FF0000;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	margin-left: 209px;
	position: relative;
}

#u3337-4:hover,#u3338-4:hover,#u3339-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 135px;
	margin: 0px 0px 0px 209px;
}

#u2748-4
{
	z-index: 219;
	width: 120px;
	min-height: 35px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	margin-left: 209px;
	margin-top: 25px;
	position: relative;
}

#u2737-4
{
	z-index: 166;
	width: 329px;
	min-height: 19px;
	background-color: transparent;
	text-align: right;
	color: #7F7F7F;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	margin-top: 55px;
	position: relative;
}

#u2737-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 329px;
	margin: 55px 0px 0px;
}

#u2751
{
	z-index: 224;
	position: relative;
	width: 117px;
	margin-right: -10000px;
	margin-top: 492px;
	left: 909px;
}

#u2751_states
{
	height: 37px;
	width: 117px;
	vertical-align: top;
	background: url("../images/u2751_states.png") no-repeat 0px 0px;
}

#u2751:hover #u2751_states
{
	background: url("../images/u2751_states-r.png") no-repeat 0px 0px;
}

#u2752
{
	z-index: 227;
	position: relative;
	width: 117px;
	margin-right: -10000px;
	margin-top: 695px;
	left: 909px;
}

#u2752_states
{
	height: 37px;
	width: 117px;
	vertical-align: top;
	background: url("../images/u2752_states.png") no-repeat 0px 0px;
}

#u2752:hover #u2752_states
{
	background: url("../images/u2752_states-r.png") no-repeat 0px 0px;
}

#u2754
{
	z-index: 230;
	position: relative;
	width: 117px;
	margin-right: -10000px;
	margin-top: 898px;
	left: 909px;
}

#u2754_states
{
	height: 37px;
	width: 117px;
	vertical-align: top;
	background: url("../images/u2754_states.png") no-repeat 0px 0px;
}

#u2754:hover #u2754_states
{
	background: url("../images/u2754_states-r.png") no-repeat 0px 0px;
}

#u2761
{
	z-index: 234;
	position: relative;
	width: 323px;
	margin-right: -10000px;
	margin-top: 281px;
	left: 419px;
}

#u2761_states
{
	height: 55px;
	width: 323px;
	vertical-align: top;
	background: url("../images/u2761_states.png") no-repeat 0px 0px;
}

#u2761:hover #u2761_states
{
	background: url("../images/u2761_states-r.png") no-repeat 0px 0px;
}

#pu3178
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 45px;
}

#u3178
{
	z-index: 22;
	min-height: 522px;
	background-color: #333333;
	padding-bottom: 48px;
}

#u3189
{
	z-index: 23;
	width: 920px;
	min-height: 479px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 120px;
}

#u3178-bw
{
	z-index: 22;
	min-height: 522px;
}

#hotel
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 304px;
	left: 569px;
}

#pu2776
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -1px;
}

#u2776
{
	z-index: 20;
	min-height: 928px;
	background-color: #000000;
	padding-bottom: 52px;
}

#u1793_align_to_page,#u2047_align_to_page,#u2054_align_to_page,#u3178_align_to_page,#u2776_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#pu2789
{
	z-index: 21;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 142px;
	margin-left: 99px;
}

#u2758,#u2789
{
	z-index: 0;
	width: 958px;
	border-width: 2px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#ppu2768
{
	width: 0.01px;
	position: relative;
	left: 33px;
	padding-top: 41px;
	z-index: 2;
	padding-bottom: 11px;
}

#pu2768
{
	width: 0.01px;
	margin-left: 30px;
}

#u2768
{
	z-index: 27;
	width: 400px;
	min-height: 333px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2777
{
	z-index: 272;
	width: 400px;
	min-height: 304px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 441px;
}

#u2770-4
{
	z-index: 28;
	width: 729px;
	min-height: 50px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: left;
	font-size: 36px;
	line-height: 43px;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	margin-top: 88px;
	position: relative;
}

#u2771-4
{
	z-index: 32;
	width: 575px;
	min-height: 40px;
	background-color: transparent;
	color: #7F7F7F;
	text-align: left;
	font-size: 24px;
	line-height: 29px;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	margin-top: 7px;
	position: relative;
}

#u2772-4
{
	z-index: 36;
	width: 553px;
	min-height: 43px;
	background-color: transparent;
	color: #7F7F7F;
	text-align: left;
	font-size: 18px;
	line-height: 22px;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	margin-top: 23px;
	position: relative;
}

#u2772-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	width: 553px;
	margin: 23px 0px 0px;
}

#u2773-4
{
	z-index: 40;
	width: 870px;
	min-height: 90px;
	background-color: transparent;
	color: #7F7F7F;
	text-align: left;
	font-size: 18px;
	line-height: 22px;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	margin-top: 6px;
	position: relative;
}

#u2773-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 90px;
	width: 870px;
	margin: 6px 0px 0px;
}

#u3340-4
{
	z-index: 245;
	width: 135px;
	min-height: 19px;
	background-color: transparent;
	text-align: right;
	color: #FF0000;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	margin-left: 783px;
	margin-top: 35px;
	position: relative;
}

#u3340-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 135px;
	margin: 35px 0px 0px 783px;
}

#u2116-6:hover p,#u2038-4:hover p,#u2037-4:hover p,#u1816-7:hover p,#u1816-7:hover span,#u1812-6:hover p,#u2050-4:hover p,#u2049-4:hover p,#u2048-7:hover p,#u2048-7:hover span,#u2051-6:hover p,#u2058-4:hover p,#u2059-4:hover p,#u2063-7:hover p,#u2063-7:hover span,#u2060-6:hover p,#u2734-4:hover p,#u3337-4:hover p,#u2735-4:hover p,#u2738-4:hover p,#u3338-4:hover p,#u2736-4:hover p,#u2739-4:hover p,#u3339-4:hover p,#u2737-4:hover p,#u2772-4:hover p,#u2773-4:hover p,#u3340-4:hover p
{
	color: #F7931E;
	visibility: inherit;
}

#u2776-bw
{
	z-index: 20;
	min-height: 928px;
}

#u3336
{
	z-index: 25;
	position: relative;
	width: 323px;
	margin-right: -10000px;
	margin-top: 44px;
	left: 419px;
}

#u3336_states
{
	height: 55px;
	width: 323px;
	vertical-align: top;
	background: url("../images/u3336_states.png") no-repeat 0px 0px;
}

#u3336:hover #u3336_states
{
	background: url("../images/u3336_states-r.png") no-repeat 0px 0px;
}

#u2786
{
	z-index: 237;
	height: 37px;
	width: 117px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 505px;
	left: 453px;
	background: url("../images/u2786.png") no-repeat 0px 0px;
}

#u2786:hover
{
	background: url("../images/u2786-r.png") no-repeat 0px 0px;
}

#u2787
{
	z-index: 240;
	height: 37px;
	width: 117px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 505px;
	left: 884px;
	background: url("../images/u2787.png") no-repeat 0px 0px;
}

#u2787:hover
{
	background: url("../images/u2787-r.png") no-repeat 0px 0px;
}

#u2788
{
	z-index: 243;
	height: 37px;
	width: 117px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 603px;
	left: 880px;
	background: url("../images/u2788.png") no-repeat 0px 0px;
}

#u2788:hover
{
	background: url("../images/u2788-r.png") no-repeat 0px 0px;
}

#u1849
{
	z-index: 11;
	min-height: 59px;
	background-color: #000000;
	padding-bottom: 39px;
}

#u1849_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	margin-bottom: -98px;
}

#u1848-8
{
	z-index: 12;
	width: 626px;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: '__Sukhumvit Set_5';
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 267px;
}

#u1848-2
{
	color: #6EB4D5;
}

#u1849-bw
{
	z-index: 11;
	min-height: 59px;
	margin-top: -934px;
}

#u1619
{
	z-index: 2;
	min-height: 59px;
	padding-bottom: 39px;
}

#u1619_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u1620-8
{
	z-index: 3;
	width: 626px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 257px;
}

#u1619-bw
{
	z-index: 2;
	min-height: 59px;
}

@font-face
{
	font-family: '__Sukhumvit Set_5';
	src: url('../fonts/sukhumvitset-light.eot');
	src: local('☺'), url('../fonts/sukhumvitset.woff') format('woff'), url('../fonts/sukhumvitset.svg') format('svg');
	font-weight: 200;
	font-style: normal;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

