/*

*/

.version.staff_register /* version checker */
{
	color: #0000FA;
	background-color: #184C33;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1394.9500000000005px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -36px;
	width: 0.01px;
}

#pu2606
{
	width: 0.01px;
	margin-left: -100px;
}

#u2606
{
	z-index: 11;
	height: 336px;
	background: transparent url("../images/the-isabel-performance-hall2.jpg") no-repeat center center;
	background-size: cover;
}

#u2606-bw
{
	z-index: 11;
	height: 336px;
}

#u2607
{
	z-index: 12;
	height: 336px;
	background-color: #000000;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
}

#u2607-bw
{
	z-index: 12;
	height: 336px;
}

#u2608
{
	z-index: 13;
	width: 958px;
	height: 104px;
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 229px;
	left: 99px;
}

#u2643-4
{
	z-index: 68;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 272px;
	left: 321px;
}

#u1613
{
	z-index: 158;
	width: 1060px;
	margin-right: -10000px;
	margin-top: 28px;
	left: 50px;
}

#u1616
{
	z-index: 167;
	width: 179px;
	padding-bottom: 29px;
	margin-bottom: -19px;
	margin-right: -10000px;
	margin-top: -28px;
	left: 38px;
}

#u1617-4
{
	z-index: 168;
	width: 178px;
	margin-right: -10000px;
	margin-top: 40px;
	left: -1px;
}

#u1615-4
{
	z-index: 163;
	width: 82px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 881px;
}

#u1614-4
{
	z-index: 159;
	width: 78px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 963px;
}

#pu2609
{
	z-index: 14;
	width: 0.01px;
	position: relative;
	margin: -1px -10000px -1px -1px;
}

#u2609
{
	z-index: 0;
	width: 958px;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu2620
{
	width: 0.01px;
	padding-bottom: 415.55000000000086px;
	position: relative;
	left: 21px;
	padding-top: 288px;
	z-index: 2;
}

#u2620
{
	z-index: 15;
	width: 920px;
	height: 1px;
	background-color: #7F7F7F;
	opacity: 0.25;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
	filter: alpha(opacity=25);
	position: relative;
}

#u2619
{
	z-index: 16;
	width: 920px;
	height: 1px;
	background-color: #7F7F7F;
	opacity: 0.25;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
	filter: alpha(opacity=25);
	margin-top: 274px;
	position: relative;
}

#u2625
{
	z-index: 17;
	width: 726px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	left: 117px;
}

#u2626
{
	z-index: 18;
	width: 726px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
}

#u2631-4
{
	z-index: 20;
	width: 221px;
	min-height: 36px;
	background-color: transparent;
	line-height: 24px;
	text-align: left;
	font-size: 24px;
	color: #000000;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u2638-4
{
	z-index: 48;
	width: 221px;
	min-height: 36px;
	background-color: transparent;
	line-height: 24px;
	text-align: left;
	font-size: 24px;
	color: #000000;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 419px;
}

#ppu2609,#pu2631-4,#pu2640
{
	width: 0.01px;
}

#u2640
{
	z-index: 19;
	width: 726px;
	min-height: 900px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u2642-4
{
	z-index: 24;
	width: 221px;
	min-height: 36px;
	background-color: transparent;
	line-height: 24px;
	text-align: left;
	font-size: 24px;
	color: #000000;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 375px;
}

#u2629-4
{
	z-index: 28;
	width: 221px;
	min-height: 36px;
	background-color: transparent;
	line-height: 24px;
	text-align: left;
	font-size: 24px;
	color: #000000;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 512px;
}

#u2628-4
{
	z-index: 32;
	width: 221px;
	min-height: 36px;
	background-color: transparent;
	line-height: 24px;
	text-align: left;
	font-size: 24px;
	color: #000000;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 103px;
}

#u2635-4
{
	z-index: 36;
	width: 221px;
	min-height: 36px;
	background-color: transparent;
	line-height: 24px;
	text-align: left;
	font-size: 24px;
	color: #000000;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 103px;
	left: 420px;
}

#u2627-4
{
	z-index: 40;
	width: 221px;
	min-height: 36px;
	background-color: transparent;
	line-height: 24px;
	text-align: left;
	font-size: 24px;
	color: #000000;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 242px;
}

#u2634-4
{
	z-index: 44;
	width: 290px;
	min-height: 36px;
	background-color: transparent;
	line-height: 24px;
	text-align: left;
	font-size: 24px;
	color: #000000;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 242px;
	left: 420px;
}

#u2632-4
{
	z-index: 52;
	width: 221px;
	min-height: 36px;
	background-color: transparent;
	line-height: 24px;
	text-align: left;
	font-size: 24px;
	color: #000000;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 372px;
	left: 420px;
}

#u2637-4
{
	z-index: 56;
	width: 221px;
	min-height: 36px;
	background-color: transparent;
	line-height: 24px;
	text-align: left;
	font-size: 24px;
	color: #000000;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 512px;
	left: 420px;
}

#u2636-4
{
	z-index: 60;
	width: 221px;
	min-height: 36px;
	background-color: transparent;
	line-height: 24px;
	text-align: left;
	font-size: 24px;
	color: #000000;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 650px;
}

#u2633-4
{
	z-index: 64;
	width: 290px;
	min-height: 36px;
	background-color: transparent;
	line-height: 24px;
	text-align: left;
	font-size: 24px;
	color: #000000;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 650px;
	left: 420px;
}

#u2644
{
	z-index: 73;
	position: relative;
	width: 172px;
	margin-right: -10000px;
	margin-top: 879px;
	left: 500px;
}

#u2644_states
{
	height: 45px;
	width: 172px;
	vertical-align: top;
	background: url("../images/u2644_states.png") no-repeat 0px 0px;
}

#u2644:hover #u2644_states
{
	background: url("../images/u2644_states-r.png") no-repeat 0px 0px;
}

#u2624
{
	z-index: 76;
	position: relative;
	width: 170px;
	margin-right: -10000px;
	margin-top: 880px;
	left: 290px;
}

#u2624_states
{
	height: 43px;
	width: 170px;
	vertical-align: top;
	background: url("../images/u2624_states.png") no-repeat 0px 0px;
}

#u2624:hover #u2624_states
{
	background: url("../images/u2624_states-r.png") no-repeat 0px 0px;
}

#u3253-4
{
	z-index: 78;
	width: 31px;
	min-height: 37px;
	background-color: transparent;
	color: #ED1C24;
	line-height: 29px;
	text-align: right;
	font-size: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	left: 374px;
}

#u3255-4
{
	z-index: 82;
	width: 31px;
	min-height: 37px;
	background-color: transparent;
	color: #ED1C24;
	line-height: 29px;
	text-align: right;
	font-size: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	left: 794px;
}

#u3257-4
{
	z-index: 86;
	width: 31px;
	min-height: 37px;
	background-color: transparent;
	color: #ED1C24;
	line-height: 29px;
	text-align: right;
	font-size: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 181px;
	left: 374px;
}

#u3259-4
{
	z-index: 90;
	width: 31px;
	min-height: 37px;
	background-color: transparent;
	color: #ED1C24;
	line-height: 29px;
	text-align: right;
	font-size: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 181px;
	left: 794px;
}

#u3262-4
{
	z-index: 94;
	width: 31px;
	min-height: 37px;
	background-color: transparent;
	color: #ED1C24;
	line-height: 29px;
	text-align: right;
	font-size: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 320px;
	left: 374px;
}

#u3264-4
{
	z-index: 98;
	width: 31px;
	min-height: 37px;
	background-color: transparent;
	color: #ED1C24;
	line-height: 29px;
	text-align: right;
	font-size: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 320px;
	left: 794px;
}

#u3267-4
{
	z-index: 102;
	width: 31px;
	min-height: 37px;
	background-color: transparent;
	color: #ED1C24;
	line-height: 29px;
	text-align: right;
	font-size: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 590px;
	left: 374px;
}

#u3268-4
{
	z-index: 106;
	width: 31px;
	min-height: 37px;
	background-color: transparent;
	color: #ED1C24;
	line-height: 29px;
	text-align: right;
	font-size: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 590px;
	left: 794px;
}

#u3271-4
{
	z-index: 110;
	width: 31px;
	min-height: 37px;
	background-color: transparent;
	color: #ED1C24;
	line-height: 29px;
	text-align: right;
	font-size: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 727px;
	left: 374px;
}

#u3274-4
{
	z-index: 114;
	width: 31px;
	min-height: 37px;
	background-color: transparent;
	color: #ED1C24;
	line-height: 29px;
	text-align: right;
	font-size: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 727px;
	left: 794px;
}

#u3254-4
{
	z-index: 118;
	width: 288px;
	min-height: 32px;
	background-color: transparent;
	text-align: left;
	font-size: 14px;
	color: #ED1C24;
	position: relative;
	margin-right: -10000px;
	margin-top: 123px;
	left: 117px;
}

#u3256-4
{
	z-index: 122;
	width: 288px;
	min-height: 32px;
	background-color: transparent;
	text-align: left;
	font-size: 14px;
	color: #ED1C24;
	position: relative;
	margin-right: -10000px;
	margin-top: 123px;
	left: 537px;
}

#u3258-4
{
	z-index: 126;
	width: 288px;
	min-height: 32px;
	background-color: transparent;
	text-align: left;
	font-size: 14px;
	color: #ED1C24;
	position: relative;
	margin-right: -10000px;
	margin-top: 260px;
	left: 117px;
}

#u3260-4
{
	z-index: 130;
	width: 288px;
	min-height: 32px;
	background-color: transparent;
	text-align: left;
	font-size: 14px;
	color: #ED1C24;
	position: relative;
	margin-right: -10000px;
	margin-top: 260px;
	left: 537px;
}

#u3263-4
{
	z-index: 134;
	width: 288px;
	min-height: 32px;
	background-color: transparent;
	text-align: left;
	font-size: 14px;
	color: #ED1C24;
	position: relative;
	margin-right: -10000px;
	margin-top: 399px;
	left: 117px;
}

#u3265-4
{
	z-index: 138;
	width: 288px;
	min-height: 32px;
	background-color: transparent;
	text-align: left;
	font-size: 14px;
	color: #ED1C24;
	position: relative;
	margin-right: -10000px;
	margin-top: 399px;
	left: 537px;
}

#u3266-4
{
	z-index: 142;
	width: 288px;
	min-height: 32px;
	background-color: transparent;
	text-align: left;
	font-size: 14px;
	color: #ED1C24;
	position: relative;
	margin-right: -10000px;
	margin-top: 669px;
	left: 117px;
}

#u3269-4
{
	z-index: 146;
	width: 288px;
	min-height: 32px;
	background-color: transparent;
	text-align: left;
	font-size: 14px;
	color: #ED1C24;
	position: relative;
	margin-right: -10000px;
	margin-top: 669px;
	left: 537px;
}

#u3270-4
{
	z-index: 150;
	width: 288px;
	min-height: 32px;
	background-color: transparent;
	text-align: left;
	font-size: 14px;
	color: #ED1C24;
	position: relative;
	margin-right: -10000px;
	margin-top: 806px;
	left: 117px;
}

#u3275-4
{
	z-index: 154;
	width: 288px;
	min-height: 32px;
	background-color: transparent;
	text-align: left;
	font-size: 14px;
	color: #ED1C24;
	position: relative;
	margin-right: -10000px;
	margin-top: 806px;
	left: 537px;
}

#u1619
{
	z-index: 2;
	min-height: 59px;
	padding-bottom: 39px;
}

#u1619_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u1620-8
{
	z-index: 3;
	width: 626px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 257px;
}

#u1619-bw
{
	z-index: 2;
	min-height: 59px;
	margin-top: 55px;
}

@font-face
{
	font-family: '__Sukhumvit Set_5';
	src: url('../fonts/sukhumvitset-light.eot');
	src: local('☺'), url('../fonts/sukhumvitset.woff') format('woff'), url('../fonts/sukhumvitset.svg') format('svg');
	font-weight: 200;
	font-style: normal;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

